In [5]:
#print particular elemnt in a list

A=[2,3,4,2,5,3]
A[2]=5
print(A)

[2, 3, 5, 2, 5, 3]

In [7]:
#print a list by list constructor()

a=list((2,3,4,5))
print(a)

[2, 3, 4, 5]

In [12]:
#print list by negetive index

a=[2,3,4,4]
for i in range(-1,2):
    print(a[i])

4
2
3

In [8]:
a=[2,3,4,6,7,8]
print(a[:-4:1])

[2, 3]

In [26]:
#Change Item Value

a=[2,3,4,5,6,7]
a[4]=9
print(a)

[2, 3, 4, 5, 9, 7]

In [25]:
#Change a Range of Item Values

a=[2,5,6,7,9,8]
a[2:4]=[1,3]
print(a)

[2, 5, 1, 3, 9, 8]

In [29]:
a=[2,3,4]
a[1:3]=[5,6]
print(a)

[2, 5, 6]

In [32]:
#Insert Items in list

a=[2,3,5]
a.insert(2,8)
print(a)

[2, 3, 8, 5]

In [33]:
#Append Items in a list

a=[3,4,6,1]
a.append(8)
print(a)

[3, 4, 6, 1, 8]

In [3]:
#Extend List

a=[2,3,4,5]
b=[6,7,8,9]
a.extend(b)
print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#Remove Specified Item

a=[4,5,6,3]
a.remove(5)
print(a)

[4, 6, 3]

In [6]:
#remove specified index value/item

a=[2,3,4,5]
a.pop(2)
print(a)

[2, 3, 5]

In [9]:
#remove using del keyword
a=[2,3,5,6]
del a[2]
print(a)

[2, 3, 6]

In [11]:
#delete entire list ***a

a=[2,6,7,8]
del a
print(a)

NameError: name 'a' is not defined

In [19]:
#Loop Through a List

a=[2,3,4,5,6]
for i in a:
    print(i)

2
3
4
5
6

In [1]:
#Loop Through the Index Numbers

a=[2,3,4,5,6]
for i in range(len(a)):
    print(a[i])

2
3
4
5
6

In [8]:
#Looping Using List Comprehension ***   (in python print() function doesn't return nothing therfore "none")

a=[2,3,4,5]
[print (i) for i in a]

2
3
4
5

[None, None, None, None]

In [13]:
#Sort List alphanumerically      ( *** by default Capital letter sorted first )

a=["chiku","baby","seepu"]
a.sort()
print(a)

['baby', 'chiku', 'seepu']

In [21]:
#Sort List numerically

a=[3,2,6,4,8,1]
a.sort()
print(a)

[1, 2, 3, 4, 6, 8]

In [22]:
#Sort Descending ***

a=[2,5,4,7,1,8,0]
a.sort(reverse=True)
print(a)

[8, 7, 5, 4, 2, 1, 0]

In [27]:
def sort():
    a.sort(reverse=True)
    return a
a=[4,3,6,2,8]
sort()

[8, 6, 4, 3, 2]

In [32]:
#Copy a List

a=[2,4,5,6,1]
b=a.copy()
print(b)

[2, 4, 5, 6, 1]

In [1]:
# join two list using "+"

a=[3,5,2,1]
b=[6,7,8,9]
c=a+b
print(c)

[3, 5, 2, 1, 6, 7, 8, 9]

In [5]:
#join two list using  "append()"

a=[3,4,6,8]
b=[1,2,3,4]
for i in b:
    a.append(i)
print(a)

[3, 4, 6, 8, 1, 2, 3, 4]

In [6]:
##join two list using  "Extend()"

a=[2,3,4,5]
b=[6,7,8,9]
a.extend(b)
print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#delete all elemts from list using "clear()"

a=[2,3,4,5]
a.clear()
print(a)

[]

In [4]:
#count number of elements with the specified value

a=[2,4,3,2,5,3]
x=a.count(3)
print(x)

2

In [5]:
#find second largest number in a list ("hacker rank")

a=[4,7,3,9,1]
a.sort(reverse=True)
c=len(a)
for i in range(c):
    if a[i]>a[i+1]:
        print(a[i+1])
        break

7

In [2]:
#replace a string 

a="chikusingh"
o="chiku"
n="sudhanshu"
new=a.replace(o,n)
print(a)
print(new)

chikusingh
sudhanshusingh


# Convert a interger into List

In [4]:
a=2567
print("Given number :\n",a)
x=[int(i) for i in str(a)]
print("Number into List:\n",x)

Given number :
 2567
Number into List:
 [2, 5, 6, 7]

# Method-2

In [1]:
n=3456
x=list(map(int,str(n)))
print(x)
print(type(x))

[3, 4, 5, 6]
<class 'list'>

# Trick : To Find the occurance of any integer how many time

In [1]:
l=[2,3,4,1,2,3,4]
for i in l:
    print(l.count(i))

2
2
2
1
2
2
2