# List is a Built in Data Structure in Python it hols the ordered collection of items

# List is Different from array :
    In list we can store different type of data type in a single list 
    
    Ex- l=[1,2,"chiku","a"]

In [110]:
import numpy as np
arr=np.array([1,2,3,4,5,'a'])         #change array of int to char ' '
list=[1,2,3,4,5,'a']
print(arr)
print(list)
arr=np.array([1,2,3,4,5])
list=[1,2,3,4,5]
print(arr/2)                 #array can be do Arithmatic operation but list do not
print(list/2)

['1' '2' '3' '4' '5' 'a']
[1, 2, 3, 4, 5, 'a']
[0.5 1.  1.5 2.  2.5]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Creating Different types of list

In [5]:
integerList=[1,2,3,4,5]
stringList=['chiku','singh','assd']
mixList=[1,12,1.2,4,5,'chiku','singh']
nestedList=[1,1.3,[2,3.4,'chiku'],[12,'singh']]
print("INTEGER LIST :",integerList)
print("STRING LIST :",stringList)
print("MIX LIST :",mixList)
print("NESTED LIST :",nestedList)

INTEGER LIST : [1, 2, 3, 4, 5]
STRING LIST : ['chiku', 'singh', 'assd']
MIX LIST : [1, 12, 1.2, 4, 5, 'chiku', 'singh']
NESTED LIST : [1, 1.3, [2, 3.4, 'chiku'], [12, 'singh']]

# Accessing a List

In [16]:
l=[1,2,3,6]
print(l[1])
print(l[5])    #it index not present in list Shows an Error  list index out of range
print(l[-5])   #it index not present in list Shows an Error  list index out of range

2

IndexError: list index out of range

# List Comprehension

Syntax :- [i for i in range(n)]

In [18]:
n=6
print([i for i in range(n)])

print([i for i in range(1,10) if i%2==0])

print([i if i>2 else i+1 for i in range(3,10)])

[0, 1, 2, 3, 4, 5]
[2, 4, 6, 8]
[3, 4, 5, 6, 7, 8, 9]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

# Traversing a List

In [17]:
l=[2,5,6,1,7]
for i in l:
    print(i)

2
5
6
1
7

# Add Element in a list

Insert :- At a Prticular Location (index,Value)

Append : At the end of List (value)

Extend : Add a List to another old.extend(new)

In [20]:
#Insert : Add element at a Particular location
l=[1,2,3,5]
l.insert(3,4)
print("Insert :",l)

#Append : Add element at the End of list
l.append(6)
print("Append :",l)

#Extend : Add a List to another List
l2=[6,7,8]
l.extend(l2)
print("Extend :",l)

Insert : [1, 2, 3, 4, 5]
Append : [1, 2, 3, 4, 5, 6]
Extend : [1, 2, 3, 4, 5, 6, 6, 7, 8]

# Slice Operator

In [30]:
l=[1,2,3,4,5,6]
print(l[:])
print(l[0:2])
print(l[:2])
print(l[1:])
print(l[1:5:2])
l[0:3]=[7,8,10]                   #Update using slice
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2]
[1, 2]
[2, 3, 4, 5, 6]
[2, 4]
[7, 8, 10, 4, 5, 6]

# Deletion an Element from lIst

Pop : Delete at a particular Location (index) or By default last ()

Del : Delete the element at particluar index del l[index/range]

Remove : Delete a particular value/Element  l.remove(value)

In [2]:
l=[1,2,3,4,5,6,7,8]
l.pop()
print("POP Default :",l)
l.pop(2)
print("POP index",l)

del l[1]
print("Del Index:",l)
del l[0:2]
print("Range del :",l)

l.remove(6)
print("Remove",l)

POP Default : [1, 2, 3, 4, 5, 6, 7]
POP index [1, 2, 4, 5, 6, 7]
Del Index: [1, 4, 5, 6, 7]
Range del : [5, 6, 7]
Remove [5, 7]

In [49]:
#Linear search

l=[1,2,3,4,5,7]
def search(l,val):
    for i in l:
        if i==val:
            return l.index(i)
    return 'Not present'
search(l,9)

'Not present'

In [50]:
#Search target in lis using in operator
l=[2,3,4,5,6]
if 3 in l:
    print(l.index(3))
else:
    print("not present")

1

# List operation

Concatination  +

Star  *

Length len()

Maximum in a list max() , min()

addition of list sum()

In [59]:
l=[1,2,3]
l2=[4,5,6]
print("Concatination :",l+l2)
print("Star/multiply :",l*2)
print("Lenght :",len(l))
print("Maximum :",max(l))
print("Minimum :",min(l))
print("Sum :",sum(l))

Concatination : [1, 2, 3, 4, 5, 6]
Star/multiply : [1, 2, 3, 1, 2, 3]
Lenght : 3
Maximum : 3
Minimum : 1
Sum : 6

# String to list

In [82]:
a='chiku'
print(list(a))
b='chiku singh thakur'
print(b.split())
c='sudhanshu-singh-thakur'
delimeter='-'                               #used to remove the char expect space
print(c.split(delimeter))

['c', 'h', 'i', 'k', 'u']
['chiku', 'singh', 'thakur']
['sudhanshu', 'singh', 'thakur']

In [10]:
a='sudhnau singh'
a=a.split()
b='-'.join(a)
print(b)

sudhnau-singh

# List to String     using join() Function

In [83]:
l=['chiku','singh']
print(delimeter.join(l))

chiku singh

# Convert a Integer List to a integer ex- [ 1 , 2 , 3 ]  = 123 and Vice Versa

In [10]:
a=[1,2,3]
s=[str(integer) for integer in a]
string="".join(s)
string=int(string)
print("List to Integer :",string)
print("Integer to list",list(map(int, str(string))))

List to Integer : 123
Integer to list [1, 2, 3]

# Convert List of character into String

In [1]:
a=['c','h','i','k','u']
b=""
for i in a:
    b+=i
print(b)

chiku

In [13]:
#Input: digits = [4,3,2,1]
#Output: [4,3,2,2]
#Explanation: The array represents the integer 4321.
#Incrementing by one gives 4321 + 1 = 4322.
#Thus, the result should be [4,3,2,2].


a=[1,2,3]
s=[str(integer) for integer in a]
string="".join(s)
string=int(string)
string=string+1
print(list(map(int, str(string))))

[1, 2, 4]

In [21]:
#Write a program to count no of distinct word in alist and cout their occurance

n=int(input())
l=[]
for i in range(n):
    a=input()
    l.append(a)
b=set(l)
print("number of distinct word :",len(b)) 
for i in b:
    print(i,l.count(i),"Times")

2
a
ab
number of distinct word : 2
ab 1 Times
a 1 Times

Choclate Distribution Problem GFG

Input : arr[] = {3, 4, 1, 9, 56, 7, 9, 12} , m = 5 

Output: Minimum Difference is 6 

Explanation:

The set goes like 3,4,7,9,9 and the output

is 9-3 = 6

Input : arr[] = {12, 4, 7, 9, 2, 23, 25, 41, 

30, 40, 28, 42, 30, 44, 48, 

43, 50} , m = 7 

Output: Minimum Difference is 10 

Explanation:

We need to pick 7 packets. We pick 40, 41, 

42, 44, 48, 43 and 50 to minimize difference 

between maximum and minimum

In [2]:
arr = [7, 3, 2, 4, 9, 12, 56]
l=[]
m = 3
b=len(arr)
arr.sort()
for i in range(0,b):
    if i<(b-m+1):
        l.append(arr[m-1+i]-arr[i])
print(min(l))

2

# Sort a string

In [2]:
s="sudhanshu"
print(sorted(s))

['a', 'd', 'h', 'h', 'n', 's', 's', 'u', 'u']

# Integer to List

In [1]:
string=12345
print("Integer to list",list(map(int, str(string))))

<class 'int'>
Integer to list [1, 2, 3, 4, 5]

# Convert a Number to its Binary

In [1]:
n=8
a=[]
while n!=0:
    a.append(n%2)
    n=n//2
a.reverse()
print(a)

[1, 0, 0, 0]

# String is palindrome

In [1]:
def palindrome(s):
    i=0
    j=len(s)-1
    while i<j:
        if s[i]!=s[j]:
            return False
        i+=1
        j-=1
    return True
palindrome('madam')

True

# Find Triplet with sum zero

In [2]:
def findTriplets(arr, n):
        c=0
        arr=sorted(arr)
        for i in range(n-2):
            l=i+1
            r=n-1
            while l<r:
                if arr[i]+arr[l]+arr[r]==0:
                    c+=1
                    break
                elif arr[i]+arr[r]+arr[l]<0:
                    l+=1
                else:
                    r-=1
        return c
arr=[0,1,2,-1,-2]
n=5
findTriplets(arr,n)

2

# Find a String

In [2]:
def count_substring(string, sub_string):
    sl=len(string)
    ssl=len(sub_string)
    c=0
    for i in range(sl-ssl+1):
        if string[i:i+ssl]==sub_string:
            c+=1
    return c
string='abcdbcd'
sub_string='bcd'
count_substring(string,sub_string)

2

In [34]:
s='chiku singh'
print((i) for i in s)

<generator object <genexpr> at 0x000001BB4AA767B0>

# Sort Each word in a list

Ex= ["eat","tea","tan","ate","nat","bat"] ===== ['aet', 'aet', 'ant', 'aet', 'ant', 'abt']

In [3]:
l=['sudhanshu ','singh']
print([''.join(sorted(i)) for i in l])

[' adhhnssuu', 'ghins']

# Reverse Integer

Input: x = -123

Output: -321

In [ ]:
    def reverse(self, x: int) -> int:
        r=0
        if x<0:
            sign=-1
            x=-x
        else:
            sign=1
        while x:
            r=r*10+x%10
            x=x//10
        if r>pow(2,31):
            return 0
        return r*sign

# Power of 2             
pow(2,x)==n

In [4]:
def isPowerofTwo(n):
        if n==0:
            return False
        return n&(n-1)==0
isPowerofTwo(2)

True